In [5]:
# nested  dict
person = {
    "vijay" : {"salary": 10000 , "emid" : 24 },
    "steve" : {"salary": 1000 , "emid" : 26 }}
print(person["steve"]["emid"])

26

In [7]:
# dictionary with tuples as keys
loc = {
    (40.1231, -75.00001):"newyork",
    (34.1232, -111.678):"vijayawada",
}
print(loc[(34.1232, -111.678)])

vijayawada

In [11]:
#set implementations
s =  {1,2,3,4,5}
print(s)
print("add and remove elements")
s.add(6)
print(s)
s.remove(3)
print(s)
print(3 in s)
print(2 not in s)

{1, 2, 3, 4, 5}
add and remove elements
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
False
False

In [1]:
a = {1,2}
b = {1,2,3,4,5}
print("a is subset to b : ",a.issubset(b))
print("b is subset to b : ",b.issubset(a))

a is subset to b :  True
b is subset to b :  False

In [7]:
a = {1,2,3}
b = {3,4,5,6}
print("union:", a.union(b))
print("Intersection:", a.intersection(b))
print("subset or not :" ,  a<=b)
print("proper subset :" ,  a<b)
print("superset or not :" ,  a>=b)
print("proper superset :" ,  b>a)

union: {1, 2, 3, 4, 5, 6}
Intersection: {3}
subset or not : False
proper subset : False
superset or not : False
proper superset : False

In [9]:
#set with lists
nums = [1,2,2,5]
single = set(nums)
print(single)

{1, 2, 5}

In [11]:
x = set([1,2])
y = set([1,2,3])
if x.issubset(y):
    print("x is a subset of y ")

x is a subset of y

In [39]:
info = {'name' : 'india', 'num' : 123}
s = 'num'
for key, value in info.items():
    if key==s:
        print(f"value for key: '(S)' : {value}")

value for key: '(S)' : 123

In [43]:
float(x)
str(x)
tuple(x)
list(x)
set(x)
ord(x)
chr(x)
hex(x)
oct(x)
bin(x)
dict(x)

TypeError: float() argument must be a string or a real number, not 'set'

In [29]:
info = {'name': 'india', 'num': 123}
s = 'india'

for key, value in info.items():
    if value == s:
        print(f"key for value '{s}': {key}")

key for value 'india': name

In [ ]:
info = {'name': 'india', 'num': 123}
s = 'num'

for key, value in info.items():
    if key == s:
        print(f"value for key '{s}': {value}")

In [ ]:
()

**
~ + -

* / % //

+ - 

<<  >>--- 5>>+2(nibble)

&

^ |

<> == !=

<= <> >=

= %= /= //= -= += **=

is isnot
in notin
and or not